*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face{
	font-family: 'chunk';
	src: url('../fonts/chunkfive.otf') format('opentype');
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

body::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 2250px;
    height: 1500px;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container,
#background-caption {
  -webkit-box-shadow: -2px -2px 1px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: -2px -2px 1px 0 rgba(0,0,0,0.5);
  box-shadow: -2px -2px 1px 0 rgba(0,0,0,0.5);
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 0px solid #000000;
}

#background-caption p {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: black;
  opacity: 0.8;
  z-index: 2;
  padding: 5px;
  width: 150px;
  font-size: 8pt;
}

.container {
  width: 750px;
  height: 1300px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
  position: relative;
  border: 2px solid #333;
  z-index: 3;
  background: rgba(212,228,239,1);
  background: -moz-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 30%, rgba(212,228,239,0.99) 44%, rgba(134,174,204,0.97) 74%, rgba(134,174,204,0.95) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(30%, rgba(212,228,239,1)), color-stop(44%, rgba(212,228,239,0.99)), color-stop(74%, rgba(134,174,204,0.97)), color-stop(100%, rgba(134,174,204,0.95)));
  background: -webkit-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 30%, rgba(212,228,239,0.99) 44%, rgba(134,174,204,0.97) 74%, rgba(134,174,204,0.95) 100%);
  background: -o-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 30%, rgba(212,228,239,0.99) 44%, rgba(134,174,204,0.97) 74%, rgba(134,174,204,0.95) 100%);
  background: -ms-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 30%, rgba(212,228,239,0.99) 44%, rgba(134,174,204,0.97) 74%, rgba(134,174,204,0.95) 100%);
  background: linear-gradient(135deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 30%, rgba(212,228,239,0.99) 44%, rgba(134,174,204,0.97) 74%, rgba(134,174,204,0.95) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}

h1, h2 {
  font-family: 'Kanit:black', 'Open Sans', sans-serif;
}

h1 {
  font-size: 90pt;
  color: #e53e40;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: -2px -2px 1px rgba(0,0,0,0.5);
}

h2 {
  font-family: 'chunk';
  font-size: 12pt;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  color: #090707;
  margin-bottom: 20px;
}

#reasons-to-adopt {
  float: left;
  width: 400px;
}

#kid-questioning-wrapper {
  float: right;
  width: 200px;
  position: relative;
}

#kid-questioning {
  display: block;
  position: absolute;
  top: 3px;
  left: -50px;
}

h3 {
  font-family: "Helvetica", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12pt;
}

ul {
  line-height: 14pt;
  list-style: none;
  color: #e53e40;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
}

li {
  padding-bottom: 10px;
}

li:nth-child(even) {
  color: #3333cc;

}

#kid-questioning-caption {
  position: absolute;
  top: 85px;
  left: 95px;
  padding: 8px;
  font-size: 10pt;
  text-align: center;
  background: white;
  border: 1px solid black;
  width: 130px;
}

#charts {
  position: absolute;
  top: 490px;
  left: 50px;
}

table {
	border-spacing: 50px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-transform: capitalize;
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

td {
  color: transparent;
  height: 200px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

td#population::after {
  content: "";
  width: 200px;
  height: 200px;
  border-bottom: 5px solid red;
  border-radius: 0px 0px 200px 0px;
  -moz-border-radius: 0px 0px 200px 0px;
  -webkit-border-radius: 0px 0px 200px 0px;
  position: absolute;
  top: 130px;
  left: 50px;
}

td#area::after {
  content: "";
  width: 200px;
  border-bottom: 5px solid red;
  position: absolute;
  top: 255px;
  left: 388px;
}

p {
  font-family: "Helvetica", sans-serif;
  display: block;
  line-height: 14pt;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

#gallery {
  position: absolute;
  top: 950px;
  left: 50px;
  width: 650px;
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%;
    margin:1.66%;
    overflow:hidden;
    background-color: black;
}

.content {
    position:absolute;
    height:80%;
    width:90%;
    padding: 10% 5%;
}

.table{
    display:table;
    height:100%;
    width:100%;
}

.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}

.kid-photo {
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}

strong {
  font-weight: bold;
}

.modal-window {
    position: fixed;
    font-family: "Helvetica", sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal-window:target {
    opacity:1;
    pointer-events: auto;
}

.modal-window > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.modal-window p {
  display: inline;
}

.modal-window h2 {
  font-family: "Helvetica", sans-serif;
}
