*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face{
	font-family: 'chunk';
	src: url('../fonts/chunkfive.otf') format('opentype');
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 3em;
}

body::before {
  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.container,
#background-caption {
  -webkit-box-shadow: -0.5em -0.5em 0.25em 0 rgba(0,0,0,0.5);
  -moz-box-shadow: -0.5em -0.5em 0.25em 0 rgba(0,0,0,0.5);
  box-shadow: -0.5em -0.5em 0.25em 0 rgba(0,0,0,0.5);
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 0px solid #000000;
}

#background-caption {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: white;
  background-color: black;
  opacity: 0.8;
  z-index: 2;
  padding: 0.8em;
  width: 25%;
  font-size: 0.7em;
}

.container {
  width: 60%;
  height: 100em;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding: 5%;
  position: relative;
  border: 2px solid #333;
  z-index: 3;
  background: rgba(212,228,239,1);
  background: -moz-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 30%, rgba(212,228,239,0.99) 44%, rgba(134,174,204,0.97) 74%, rgba(134,174,204,0.95) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(30%, rgba(212,228,239,1)), color-stop(44%, rgba(212,228,239,0.99)), color-stop(74%, rgba(134,174,204,0.97)), color-stop(100%, rgba(134,174,204,0.95)));
  background: -webkit-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 30%, rgba(212,228,239,0.99) 44%, rgba(134,174,204,0.97) 74%, rgba(134,174,204,0.95) 100%);
  background: -o-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 30%, rgba(212,228,239,0.99) 44%, rgba(134,174,204,0.97) 74%, rgba(134,174,204,0.95) 100%);
  background: -ms-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 30%, rgba(212,228,239,0.99) 44%, rgba(134,174,204,0.97) 74%, rgba(134,174,204,0.95) 100%);
  background: linear-gradient(135deg, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 30%, rgba(212,228,239,0.99) 44%, rgba(134,174,204,0.97) 74%, rgba(134,174,204,0.95) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}

h1, h2 {
  font-family: 'Kanit:black', 'Open Sans', sans-serif;
}

h1 {
  font-size: 7em;
  color: #e53e40;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: -2px -2px 1px rgba(0,0,0,0.5);
}

h2 {
  font-family: 'chunk';
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 0.5em;
  margin-left: 2em;
  color: #090707;
}

#reasons-to-adopt {
  float: left;
  width: 60%;
}

#kid-questioning-wrapper {
  float: right;
  width: 40%;
  position: relative;
}

#kid-questioning {
  display: block;
  postion: absolute;
  top: 25%;
  left: 25%;
}

h3 {
  font-family: "Helvetica", sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.2em;
}

ul {
  line-height: 1.2em;
  list-style: circle;
  color: #e53e40;
  font-family: "Helvetica", sans-serif;
}

li {
  padding-bottom: 0.3em;
}

#kid-questioning-caption {
  position: absolute;
  top: 50%;
  left: 55%;
  padding: 0.8em;
  font-size: 0.7em;
  text-align: center;
  background: white;
  border: 1px solid black;
  width: 40%;
}

#charts {
  position: absolute;
  top: 30%;
  left: 8.5%;
}

th {
  text-transform: capitalize;
  text-align: center;
}

td {
  color: transparent;
  height: 10em;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin-right: 10%;
}

td#population::after {
  content: "";
  width: 30%;
  height: 80%;
  border-bottom: 5px solid red;
  border-radius: 0px 0px 200px 0px;
  -moz-border-radius: 0px 0px 200px 0px;
  -webkit-border-radius: 0px 0px 200px 0px;
  position: absolute;
  top: -10%;
  left: 6%;
}

td#area::after {
  content: "";
  width: 28%;
  border-bottom: 5px solid red;
  position: absolute;
  top: 60%;
  left: 45.5%;
}

p {
  font-family: "Helvetica", sans-serif;
  display: block;
  line-height: 1.5em;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

#gallery {
  position: absolute;
  top: 58%;
  left: 8.5%;
  width: 80%;
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%;
    margin:1.66%;
    overflow:hidden;
    background-color: black;
}

.content {
    position:absolute;
    height:80%;
    width:90%;
    padding: 10% 5%;
}

.table{
    display:table;
    height:100%;
    width:100%;
}

.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}

.kid-photo {
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}
